@font-face {
   font-family: 'M PLUS Rounded 1c';
   font-style: normal;
   font-display: swap;
   font-weight: 100;
   src: url('file:///D:/Github/code4nagoya/MySite/docs/udc/2019/fonts/M PLUS Rounded 1c/100.ttf') format('truetype');
}
@font-face {
   font-family: 'M PLUS Rounded 1c';
   font-style: normal;
   font-display: swap;
   font-weight: 300;
   src: url('file:///D:/Github/code4nagoya/MySite/docs/udc/2019/fonts/M PLUS Rounded 1c/300.ttf') format('truetype');
}
@font-face {
   font-family: 'M PLUS Rounded 1c';
   font-style: normal;
   font-display: swap;
   font-weight: 500;
   src: url('file:///D:/Github/code4nagoya/MySite/docs/udc/2019/fonts/M PLUS Rounded 1c/500.ttf') format('truetype');
}
@font-face {
   font-family: 'M PLUS Rounded 1c';
   font-style: normal;
   font-display: swap;
   font-weight: 700;
   src: url('file:///D:/Github/code4nagoya/MySite/docs/udc/2019/fonts/M PLUS Rounded 1c/700.ttf') format('truetype');
}
@font-face {
   font-family: 'M PLUS Rounded 1c';
   font-style: normal;
   font-display: swap;
   font-weight: 800;
   src: url('file:///D:/Github/code4nagoya/MySite/docs/udc/2019/fonts/M PLUS Rounded 1c/800.ttf') format('truetype');
}
@font-face {
   font-family: 'M PLUS Rounded 1c';
   font-style: normal;
   font-display: swap;
   font-weight: 900;
   src: url('file:///D:/Github/code4nagoya/MySite/docs/udc/2019/fonts/M PLUS Rounded 1c/900.ttf') format('truetype');
}
@font-face {
   font-family: 'M PLUS Rounded 1c';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///D:/Github/code4nagoya/MySite/docs/udc/2019/fonts/M PLUS Rounded 1c/regular.ttf') format('truetype');
}
